@model PersonalCard.Models.SmartContractModel


@{
    ViewBag.Title = "Добавления контракта";
}

<h2>Контракт</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <!--<div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">Кошелек Заказчика</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.hash_еxecutor, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.hash_еxecutor, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Кошелек исполнителя</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.hash_еxecutor, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.hash_еxecutor, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Сумма ордера</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.order_sum, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.order_sum, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Аванс</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.prepaid_expense, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.prepaid_expense, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Условия</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.condition, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.condition, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Создание" class="btn btn-default" />
            </div>
        </div>
    </div>-->

<form asp-controller="SmartContract" asp-action="Add" method="post">
    Хэш заказчика: <input asp-for="hash_сustomer" /> <br />
    Хэш исполнителя: <input asp-for="hash_еxecutor" /> <br />
    Сумма ордера: <input asp-for="order_sum" /> <br />
    Аванс: <input asp-for="prepaid_expense" /> <br />
    Условия: <input asp-for="condition" /> <br />
    Выполнен: <input asp-for="is_Done" /> <br />
    Заморожен: <input asp-for="is_freze" /> <br />
    <button type="submit">Сохранить</button>
</form>

}




