@model IEnumerable<PersonalCard.Blockchain.Contract>

@{
    ViewBag.Title = "Диагноз";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="contenier ml-3 mt-4">
        <div class="contenier-fluid">
            <div class="container-fluid">
                <div class="row">
                    @foreach (var contract in Model)
                    {
                        <div class="card col-lg-6 col-xl-2" style="width: 18rem;">
                            <img class="card-img-top" src="~/images/contract.png" alt="image">
                            <div class="card-body">
                                <h5 class="card-title">@contract.contractID</h5>
                                <p class="card-text">Условие: @contract.condition</p>
                                <p>Хэш заказчика: @contract.hash_сustomer</p>
                                <p>Хэш исполнителя: @contract.hash_еxecutor</p>
                                <p>Сумма контракта: @contract.order_sum</p>
                                <p>Аванс: @contract.prepaid_expense</p>
                                <p>Хэш исполнителя: @contract.condition</p>
                                <a href="#" class="btn btn-primary">Подробнее</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}